useDynLib(forest)
import(methods)
import(Rcpp)
import(grid)
S3method(drawDetails,tree_branches)
S3method(drawDetails,tree_label)
export(add_node_labels)
export(add_tip_labels)
export(ape.from.forest)
export(forest.from.ape)
export(from.newick.string)
export(rnode)
export(rtree)
export(style_branches)
export(style_node_labels)
export(style_thing)
export(style_tip_labels)
export(to.newick.string)
export(treeGrob)
