import(Rcpp)
import(methods)
useDynLib(forest)

export(itree)

export(xnode)
export(xtree)

# TODO: rename
export(to.newick.string)
export(from.newick.string)

# TODO: again, names to be decided
export(forest.from.ape)
export(ape.from.forest)
