useDynLib(forest)
import(methods)
import(grid)
import(Rcpp)
importFrom(tools,file_path_sans_ext)
S3method("+",tree)
S3method(aspect_ratio,Picture)
S3method(aspect_ratio,array)
S3method(aspect_ratio,matrix)
S3method(aspect_ratio,nativeRaster)
S3method(aspect_ratio,picture)
S3method(aspect_ratio,raster)
S3method(aspect_ratio,rastergrob)
S3method(drawDetails,tree_braces)
S3method(drawDetails,tree_branches)
S3method(drawDetails,tree_labels)
S3method(drawDetails,tree_object)
S3method(flip,Picture)
S3method(flip,array)
S3method(flip,matrix)
S3method(flip,raster)
S3method(print,tree)
export(ape.from.forest)
export(aspect_ratio)
export(colour_picture)
export(flip)
export(forest.from.ape)
export(from.newick.string)
export(rnode)
export(rtree)
export(to.newick.string)
export(treeGrob)
export(tree_braces)
export(tree_image)
export(tree_labels)
export(tree_match)
export(tree_node_labels)
export(tree_style)
export(tree_style_brace)
export(tree_style_branches)
export(tree_style_node_labels)
export(tree_style_tip_labels)
export(tree_tip_labels)
export(vector_read)
export(vector_read_eps)
export(vector_read_svg)
export(vector_read_xml)
